.navContainer{
    padding: 2rem;
    display: flex;
    align-items: center;
    /* background-color: var(--color-primary); */
    height: 30px;
    /* color: var(--color-text); */
    font-weight: 600;

    position: fixed;
    min-width: 100vw;
    animation: drop-down 1s ease;
    /* border: solid blue; */
}
@keyframes drop-down {
    0%{top: -100px;}
    100%{top: 0}
}

.navContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: solid; */
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    height: 35px;
    transition: all .3s ease;
    filter: invert(100%);
}
.icon:hover{
    animation: rotate 3s linear infinite;
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.logoText{
    font-weight: bolder;
    font-size: 1.8rem;
    padding-left: 2px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}

.menu ul li {
    margin-right: 10px; 
    position: relative;
}

.menu ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: var(--color-secondary);; 
    transition: width 0.3s ease; 

}

.menu ul li:hover::after {
    width: 100%; 
}

/* theming */
.themeSwitch{
    margin-left: auto;
    position: relative;
    /* border:solid blueviolet; */

}
.themeSwitch__input {
    display: none; /*hides checkbox*/
}

.lightImage {
    width: 40px;
    height: auto; /* Esto asegura que la imagen mantenga su proporción de aspecto */
}

.darkImage {
    width: 40px;
    height: auto; 
}

.hidden {
    display: none;
}

/* Estilos condicionales según el tema */


.navContainer.dark-theme {
    background-color: var(--bgThemeDarkNav);
    color: var(--textThemeDark);
}

.dark-theme .menu ul li::after {
    background-color: var(--color-secondary);
}